@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-black dark:text-white;
  }

  input {
    @apply p-2 bg-slate-50 dark:bg-slate-900  text-black dark:text-white outline-none border border-slate-50 dark:border-slate-900 focus:border-primary dark:focus:border-darkBlue rounded-md shadow-md;
  }

  textarea {
    @apply p-2 bg-slate-50 dark:bg-slate-900 text-black dark:text-white outline-none border border-slate-50 dark:border-slate-900 focus:border-primary dark:focus:border-darkBlue rounded-md shadow-md max-h-[100px];
  }

  select {
    @apply p-2 outline-none rounded-md shadow-md shadow-darkBlue max-h-[100px];
  }
  option {
    @apply border-none outline-none;
  }

  button {
    @apply shadow-lg rounded-md;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
  }

  .bg-main {
    @apply bg-slate-50 dark:bg-slate-900 text-black dark:text-white;
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #276bda;
}

body::-webkit-scrollbar-track {
  background-color: #164ca3;
}

@media screen and (max-width: 400px) {
  .xs-hidden {
    display: none;
  }
}
